.Category {
    height: 42vh;
    display: grid;
    grid-template-rows: repeat(6, 1fr);

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
    }
}